- semantic_form_for ["admin",@comment] do |form|
  - form.inputs do
    = form.input :title, :label => "Título"
    = form.input :content, :label => "Contenido"
    = form.input :email
    = form.input :user, :label => "Autor"
    = form.input :website, :label => "Sitio web"
    = form.input :commentable, :label => "Fuente"
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }