- if past_match
  .match
    .match_content
      .flags
        .flag
          .image
            %span.flag
              = flag_image (past_match.match.local.flag_name,"small","32x32")
              ="--"
            %br
            = past_match.match.local.short_name
          .prediction_result
            = (past_match.first_team_result || "--" )
          .clear
        .flag
          .image
            %span.flag
              = flag_image (past_match.match.visitor.flag_name,"small","32x32") 
              = "--"
            %br
            = past_match.match.visitor.short_name
          .prediction_result
            = (past_match.second_team_result || "--")
          .clear            
        .clear
      .match_message= past_match.prediction_title  
    .real_result
      %span Resultado real
      .result
        %strong
          %span.flag
            = flag_name(past_match.match.local.flag_name,"small","16x16") 
            = "--"
          %span.goals= past_match.match.first_team_goals
        %strong
          %span.flag
            = flag_name(past_match.match.visitor.flag_name,"small","16x16") 
            = "--"
          %span.goals= past_match.match.second_team_goals
      .clear