- if past_match
  .match
    .match_content
      .flags
        .flag
          .image
            %span.flag.small{:class => past_match.match.local.flag_name} --
            %br
            = past_match.match.local.short_name
          .prediction_result
            = (past_match.first_team_result || "--" )
          .clear
        .flag
          .image
            %span.flag.small{:class => past_match.match.visitor.flag_name} --
            %br
            = past_match.match.visitor.short_name
          .prediction_result
            = (past_match.second_team_result || "--")
          .clear            
        .clear
      .match_message= past_match.prediction_title  
    .real_result
      %span Resultado real
      .result
        %strong
          %span.flag.small{:class => past_match.match.local.flag_name} --
          %span.goals= past_match.match.first_team_goals
        %strong
          %span.flag.small{:class => past_match.match.visitor.flag_name} --
          %span.goals= past_match.match.second_team_goals
      .clear