%h2
  Perfil de 
  %span #{@account.full_name}
  
    
#profile_sidebar

  #profile_info
    #profile_avatar
      = image_tag (@account.picture.url(:profile), :id=>"avatar_image") if @account.picture_file_name
    #profile_data

      %h3 Título
      %h2= @account.title
    
      %h3 Puntos
      %h2= @account.score
    
      %h3 Nombre
      %h2= @account.full_name


    .clear
  
  
    #portlet_moreLinks.portlet.portletC
      .portlet_content
        %ul
          - if its_me?
            %li= link_to("Actualizar datos", edit_account_registration_path ) if @account == current_account
            %li=# link_to I18n.t('tog_social.profiles.site.edit_profile'), edit_member_profile_path(@profile)
          - else 
            %li= link_to I18n.t('tog_social.profiles.site.send_message'), member_new_message_to_path(@profile.account)
            %li= report_abuse_link @profile
            %li= friendship_options(@profile)
            %li= following_options(@profile)


  #profile_friends
    %h2 Mis patas
    = render :partial => "shared/profiles_portlet", :locals => { :items =>  @profile.friends, :style => :portletG, :title => I18n.t('tog_social.profiles.model.friends'), :no_items => I18n.t('tog_social.profiles.model.friends_not_found', :profile_full_name => @profile.full_name)}
  .clear
  #profile_followers
    %h2 Mis seguidores
    = render :partial => "shared/profiles_portlet", :locals => { :items =>  @profile.followers, :style => :portletG, :title => I18n.t('tog_social.profiles.model.followers'), :no_items => I18n.t('tog_social.profiles.model.followers_not_found', :profile_full_name => @profile.full_name) }
  .clear
  #profile_following
    %h2 A quiénes sigo
    = render :partial => "shared/profiles_portlet", :locals => { :items =>  @profile.followings,:style => :portletG,:title => I18n.t('tog_social.profiles.model.followings'),:no_items => I18n.t('tog_social.profiles.model.followings_not_found', :profile_full_name => @profile.full_name) }
  .clear
#main_content
  
  #profile_predictions.content
    %h2 Pronósticos
    .incoming
      %h3 Por venir
      = render :partial => "profiles/future_match", :collection =>@account.future_predictions
      = link_to "ver todas", player_predictions_path(@account.id, :anchor=>"future")
    .done
      %h3 Pasadas
      = render :partial => "profiles/past_match", :collection => @account.past_predictions
      = link_to "ver todas", player_predictions_path(@account.id, :anchor =>"past")
    %div{:style=>"clear:both;"} 
  #game_status.content
    %h2 ¿Cómo va en Patatoon?
    
    %ul
      %li
        %strong= "Acertó #{@account.right_predictions_count} (#{@account.right_predictions_average}% de veces)"
        %span= "De #{Match.matches_count_till_now} partidos"
      %li
        %strong= "Ha participado en #{@account.predictions.size} predicciones" 
        %span= ""
      %li
        %strong= "Has ganado #{@account.score} puntos" 
        %span= ""
      %li
        / %strong= "Te faltan 120 puntos para mejorar de título" 
        / %span= "Estás en el Top 10 de la semana"
    %div{:style=>"clear:both;"}
    