- @title = "Administración Zapatillas "

#admin.index
  %h1= "Administrando Zapatillas"

  #admin_menu
    = link_to "Nueva zapatilla", new_admin_snicker_path

  %table{:id=>"snickers_table"}
    %thead
      %tr
        %td Id
        %td Name
        %td
        %td
    %tbody
    - @snickers.each do |snicker|
      %tr{:class=>cycle('even','odd') }
        %td= snicker.id
        %td= snicker.name
        %td= link_to 'Editar', edit_admin_snicker_path(snicker)
        %td= link_to 'Eliminar', ["admin",snicker], :confirm => '¿Estas seguro? Se borraran todos los datos relacionados', :method => :delete
      
  .pagination= will_paginate @snickers