<div class="titleB"><%= link_to "Mensajes", member_messages_path %> / <%= I18n.t("tog_mail.member.reply_message") %></div>

<h3><%=h @message.subject %></h3>

<br />
<p>
  <strong><%= I18n.t("tog_mail.model.from") %>:</strong>
  <%=h @message.from.email %>
  <br/>
  <strong><%= I18n.t("tog_mail.model.to") %>:</strong>
  <%=h @message.to.email %>
</p>

<p>
  <strong><%= I18n.t("tog_mail.model.content") %>:</strong>
  <%= @message.content %>
</p>

<% form_tag member_message_path(@message), :method => :delete do -%>
  <div class="actions">
    <%= link_to I18n.t("tog_mail.member.reply"), reply_member_message_path(@message), :class=>"button mainaction" unless current_account == @message.from %>
    <%= submit_tag I18n.t("tog_mail.member.delete"), :disable_with => I18n.t("tog_mail.member.wait"), :class=>"button delete" %>
  </div>
<% end -%>

<div class="clear" />
<div>
 <%= render :partial => "comments/comments_list", :locals => {:commentable => @message } %>  
</div>

