- semantic_form_for ["admin",@player] do |form|
  - form.inputs do
    = form.input :id
    = form.input :name
    = form.input :born_at
    = form.input :country
    = form.input :team
    = form.input :bio, :input_html => {:class => "tinymce"}
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }