- semantic_form_for ["admin",@player] do |form|
  - form.inputs do
    = form.input :name, :label => "Nombre"
    = form.input :born_at, :label => "Fecha de nacimiento", :as=>:date
    = form.input :country, :label => "Pais"
    = form.input :team, :label => "Equipo principal"
    = form.input :bio, :input_html => {:class => "tinymce"}
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }