- @title = "Administración Jugadores "

#admin.index
  %h1= "Administrando Jugadores"

  #admin_menu
    = link_to "Nuevo jugador", new_admin_player_path

  %table{:id=>"players_table"}
    %thead
      %tr  
        %td Id
        %td Nombre
        %td País
        %td Equipo
        %td Bio
        %td
        %td
    %tbody
    - @players.each do |player|
      %tr{:class=>cycle('even','odd') }
        %td= player.id
        %td= player.name
        %td= player.country
        %td= player.team
        %td= summary player.bio
        %td= link_to 'Editar', edit_admin_player_path(player)
        %td= link_to 'Eliminar', ["admin",player], :confirm => '¿Estas seguro? Se borraran todos los datos relacionados', :method => :delete
      
  .pagination= will_paginate @players