- @title = "Viendo jugador"

#admin

  %h1 "Viendo jugador"

  - show_for @jugador do |a| 
    = a.attribute :id
    = a.attribute :name
    = a.attribute :born_at
    = a.attribute :country
    = a.attribute :team
    = a.attribute :bio
    

  .bottom_menu
    = link_to "Ver todos", admin_players_path
    = link_to "Editar jugador",  edit_admin_player_path(player)
    = link_to "Crear otro", new_admin_player_path
