- @title = "Administración #{I18n.t('activerecord.models.account').pluralize} "

#admin.index
  %h1= "Administrando #{I18n.t('activerecord.models.account').pluralize}"

  #admin_menu
    = link_to "Nueva #{I18n.t('activerecord.models.account')}", new_admin_account_path

  %table{:id=>"accounts_table"}
    %thead
      %tr
        %td= I18n.t("activerecord.attributes.accounts.id").humanize
        %td= I18n.t("activerecord.attributes.accounts.name").humanize
        %td= I18n.t("activerecord.attributes.accounts.surname").humanize
        %td= I18n.t("activerecord.attributes.accounts.email").humanize
        %td= I18n.t("activerecord.attributes.accounts.picture").humanize
        %td= I18n.t("activerecord.attributes.accounts.gender").humanize
        %td= I18n.t("activerecord.attributes.accounts.current_sign_in_at").humanize
        %td= I18n.t("activerecord.attributes.accounts.last_sign_in_at").humanize
        %td= I18n.t("activerecord.attributes.accounts.current_sign_in_ip").humanize
        %td= I18n.t("activerecord.attributes.accounts.last_sign_in_ip").humanize
        %td= I18n.t("activerecord.attributes.accounts.birth_date").humanize
        %td
        %td
    %tbody
    - @accounts.each do |account|
      %tr{:class=>cycle('even','odd') }
        %td= account.id
        %td= account.name
        %td= account.surname
        %td= account.email
        %td= image account.picture
        %td= account.gender
        %td= date account.current_sign_in_at
        %td= date account.last_sign_in_at
        %td= account.current_sign_in_ip
        %td= account.last_sign_in_ip
        %td= account.birth_date
        %td= link_to 'Editar', edit_admin_account_path(account)
        %td= link_to 'Eliminar', ["admin",account], :confirm => '¿Estas seguro? Se borraran todos los datos relacionados', :method => :delete
      
  .pagination= will_paginate @accounts