- @title = "Viendo #{I18n.t 'activerecord.models.account'}"

#admin

  %h1= "Viendo #{I18n.t 'activerecord.models.account'}"

  - show_for @account do |a| 
    = a.attribute :id
        = a.attribute :name
        = a.attribute :surname
        = a.attribute :email
        = a.attribute :crypted_password
        = a.attribute :salt
        = a.attribute :role
        = a.attribute :picture_file_name
        = a.attribute :picture_content_type
        = a.attribute :picture_file_size
        = a.attribute :picture_updated_at
        = a.attribute :fb_token
        = a.attribute :fb
        = a.attribute :gender
        = a.attribute :encrypted_password
        = a.attribute :password_salt
        = a.attribute :confirmation_token
        = a.attribute :confirmed_at
        = a.attribute :confirmation_sent_at
        = a.attribute :reset_password_token
        = a.attribute :remember_token
        = a.attribute :remember_created_at
        = a.attribute :sign_in_count
        = a.attribute :current_sign_in_at
        = a.attribute :last_sign_in_at
        = a.attribute :current_sign_in_ip
        = a.attribute :last_sign_in_ip
        = a.attribute :invitation_token
        = a.attribute :invitation_sent_at
        = a.attribute :birth_date
    

  .bottom_menu
    = link_to "Ver todos", admin_accounts_path
    = link_to "Editar #{I18n.t 'activerecord.models.account'}",  edit_admin_account_path(account)
    = link_to "Crear otro", new_admin_account_path
