- @title = "Administración Badges "

#admin
  %h1= "Administrando Badges"

  #admin_menu
    = link_to "Nuevo badge", new_admin_badge_path

  %table{:id=>"badges_table"}
    %thead
      %tr
        %td Id
        %td Name
        %td Description
        %td Created_at
        %td Updated_at
        %td Type
        %td
        %td
    %tbody
    - @badges.each do |badge|
      %tr{:class=>cycle('even','odd') }
        %td= badge.id
        %td= badge.name
        %td= badge.description
        %td= badge.created_at
        %td= badge.updated_at
        %td= badge.type
        %td= link_to 'Editar', edit_admin_badge_path(badge)
        %td= link_to 'Eliminar', ["admin",badge], :confirm => '¿Estas seguro? Se borraran todos los datos relacionados', :method => :delete
      
  .pagination= will_paginate @badges