- @title = "Patatoon ::  Dejando tu pronóstico"
- @body_class = "home"
= display_flashes

%h2
  Mira los pronósticos 
  %span en Patatoon

= render :partial => "home/most_predictions"

= render :partial => "predictions/most_commented"

#last-predicted
  %h3 últimos pronósticos
  %ul
    = render :partial => "home/last_prediction", :collection=>@predictions

  .clear

#nexts-games
  %h3 Los partidos por venir
  %ul
    = render :partial => "home/next_match", :collection => @matches
.clear

- content_for :sidebar do
  = render :partial => "home/sidebar"