- @title = "Editando #{I18n.t 'activerecord.models.profile'}"

#admin
  %h1= "Editando #{I18n.t 'activerecord.models.profile'}"

  = render :partial => 'form'

  .bottom_menu
    %p= link_to "Ver todos", admin_profiles_path
