- semantic_form_for ["admin",@match] do |form|
  - form.inputs do
    = form.input :number, :label => "Número"
    = form.input :championship, :label => "Campeonato"
    = form.input :played_at, :label => "Fecha"
    = form.input :place, :label => "Lugar"
    = form.input :stadium, :label => "Estadio"
    = form.input :local, :label => "Equipo Local"
    = form.input :visitor, :label => "Equipo Visitante"
    = form.input :first_team_goals, :label => "Goles Equipo Local"
    = form.input :second_team_goals, :label => "Goles equipo visitante"
    = form.input :group, :label => "Grupo"
    = form.input :picture, :as => "file", :label => "La Foto"
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }