- @title = "Viendo match"

#admin

  %h1 "Viendo match"

  - show_for @match do |a| 
    = a.attribute :id
        = a.attribute :number
        = a.attribute :played_at
        = a.attribute :place
        = a.attribute :stadium
        = a.attribute :first_team
        = a.attribute :second_team
        = a.attribute :first_team_goals
        = a.attribute :second_team_goals
        = a.attribute :group
        = a.attribute :picture_file_name
        = a.attribute :picture_content_type
        = a.attribute :picture_file_size
        = a.attribute :picture_updated_at
        = a.attribute :predictions_count
    

  .bottom_menu
    = link_to "Ver todos", admin_matches_path
    = link_to "Editar match",  edit_admin_match_path(match)
    = link_to "Crear otro", new_admin_match_path
