- @title = "Editando #{I18n.t 'activerecord.models.place'}"

#admin
  %h1= "Editando #{I18n.t 'activerecord.models.place'}"

  = render :partial => 'form'

  .bottom_menu
    %p= link_to "Ver todos", admin_places_path
