- @title = "FaniToons ::  Editando tu perfil"

#banner 

#main_content

  #edit_account
    %h2 Actualizando tu perfil

    %h3 Actualiza o agrega tus datos
        
    .content_box
      -form_for resource_name, resource, :url => registration_path(resource_name), :html => {:class => :form, :multipart=>"true", :method => :put } do |f|
      
        = f.error_messages
        
        .group
          =f.label :name, "Nombres", :class=>"label"
          =f.error_message_on :name
          =f.text_field :name, :class => :text_field

        .group
          =f.label :surname, "Apellidos", :class=>"label"
          =f.error_message_on :surname
          =f.text_field :surname, :class => :text_field

        .group
          =f.label :picture, "Foto", :class=>"label"
          =f.error_message_on :picture
          =f.file_field :picture, :class => :text_field
        .group
          = image_tag(@account.picture.url(:medium)) if  @account.picture
        .group
          =f.label :email, "Email", :class=>"label"
          =f.error_message_on :email
          = @account.email 
          %br
          %span.description Por seguridad, no puedes cambiar tu correo una vez creada tu cuenta

        - if @account.from_facebook?
          %span.description Has enlazado tu cuenta en Facebook
          = f.hidden_field :fb_token
          = hidden_field_tag "account[current_password]", @account.fb_token
        - else
          .group
            =f.label :password, "Contraseña", :class=>"label"
            =f.error_message_on :password
            =f.password_field :password, :class => :password_field
            %span.description Si no deseas cambiar tu contraseña, deja este campo vacío

          .group
            =f.label :password_confirmation, "Confirma tu contraseña", :class=>"label"
            =f.error_message_on :password_confirmation
            =f.password_field :password_confirmation, :class => :password_field
            
          .group
            = f.label :current_password, "Contraseña actual", :class=>"label" 
            = f.password_field :current_password, :class=>:password_field
            %span.description Necesitamos tu contraseña para confirmar tus datos

        .group.navform.wat-cf
          =f.submit "Actualizar", :class => :button
          =f.submit "Cancelar", :onclick => "window.location='#{root_path}';return false", :class => :button

    %h3 Cancelar mi cuenta
    %p 
      ¿No te gustó? 
      = link_to "Cancela tu cuenta", registration_path(resource_name), :confirm => "¿Estás seguro? Se borraran todos tus datos.", :method => :delete


- content_for :sidebar do

  #ranking.block
    %h2 Los que siempre aciertan

    %h2 Los más rankeados

  #featured_posts.block
    %h2 Destacadas
    .content_box Destacada