<div class="portlet <%= style || 'portletA' %>" id="portlet_friends">
  <h2><span><%= title %> (<%=  items.size %>)</span></h2>
  <div class="portlet_content">
      <ul class="clearfix">
        <% unless items.blank? %>
          <% for item in items %>
            <li>
              <% link_to profile_path(item), :title => item.full_name do %>
                <%  if item.account.picture_file_name %>
                <%= image_tag item.account.thumbnail(:thumb),:size=>"51x51", :class => "avatar" %>
                <% else %>
                  <img src="/images/avatar.jpg" class="avatar" alt="" height="45",width="45" />
                <%- end -%>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <li><%= no_items %></li>
        <% end %>
      </ul>
  </div>    

</div>