- @title = "Nuevo #{I18n.t 'activerecord.models.gang'}"

#admin
  %h1= "Nuevo #{I18n.t 'activerecord.models.gang'}"

  = render :partial => 'form'

  .bottom_menu
    %p= link_to "Ver todos", admin_gangs_path
