- last_class = ((most_predicted_counter + 1) % 4 == 0 ? "last" : "") unless most_predicted_counter == 0

%li{:class=>last_class}
  %a{:href => match_path(most_predicted)}
    .flag
      = flag_image(most_predicted.local.flag_name,"small","32x32")
      = most_predicted.local.short_name
    .flag
      = flag_iamge(most_predicted.visitor.flag_name,"small","32x32")
      = most_predicted.visitor.short_name
    %p
      = "#{most_predicted.predictions_count} pronósticos"
