%li{:class=>(cycle("odd","even"))}
  %div
    = image_tag( news.picture.url(:home)) if news.picture_file_name
    = link_to " +",news, :class => "plush"
  %p.alt= link_to truncate(news.title,30), news
  - if news.published_at
    %p.date= l(news.published_at, :format=>:long)
  - else
    %p.date= l(news.created_at, :format=>:long)
  %p= truncate(strip_tags(news.content),100)