- last_class = ((next_match_counter + 1) % 3 == 0 ? "last" : "") unless next_match_counter == 0
%li{:class => last_class}
  - if current_account
    %a{:href=>match_prediction_path(next_match), :class => "iframe"} 
      .flag
        = flag_image(next_match.local.flag_name,"small","32x32")
        = next_match.local.short_name
      .flag
        = flag_image(next_match.visitor.flag_name,"small","32x32")
        = next_match.visitor.short_name 
      %p= (distance_of_time_in_words_to_now(next_match.played_at).gsub("hace", "")) #.split(" ").join("<br/>")
  - else
    %a{:href=>match_path(next_match)}
      .flag
        = flag_image(next_match.local.flag_name,"small","32x32")
        = next_match.local.short_name
      .flag
        = flag_image(next_match.visitor.flag_name,"small","32x32")
        = next_match.visitor.short_name
      %p= (distance_of_time_in_words_to_now(next_match.played_at).gsub("hace", "")) #.split(" ").join("<br/>")
    