- form_tag posts_path, :method => 'get' do
  = label_tag "Buscar"
  = text_field_tag 'query', params[:query], :id=>"search_input_field"
  = submit_tag 'Search', :id=>"search_button"

#invite_friends
  %h2 Invita a tus amigos
  #invite_img= link_to image_tag("",:id=>"invite_friends"), invite_friends_path #r new_account_invitation_path

#ranking.block
  %h2 Los que siempre aciertan
  %ul
    - Account.all.each do |a|
      %li
        = a.name
        %strong{:style=>"font-size:20px;"}= rand(100) 

  %h2 Los más rankeados
  %ul
    - Account.all.each do |a|
      %li
        = a.name
        %strong{:style=>"font-size:20px;"}= rand(100) 

#featured_posts.block
  %h2 Destacadas
  .content_box Destacada