%li
  %a{:href=>profile_path(top_season.profile.id)}
    - if top_season.picture_file_name
      = image_tag top_season.thumbnail(:thumb), :class => "avatar"
    - else
      %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
  %h4= top_season.name
  %p= "#{top_season.predictions.size} pronósticos"
  %p= "#{top_season.right_predictions_count} aciertos"
  %p.title novato
