- @title = "Patatoon ::  exprésate a tu manera"
- @body_class = "home counter"
= display_flashes


= render :partial => "next_games"

= render :partial => "most_predictions"


#last-predicted
  %h3 últimos pronósticos
  %ul
    = render :partial => "last_prediction", :collection=>@predictions

  .clear

#actities
  %h3 lo último
  %ul
    = render :partial => "streams/activity", :collection => @activities
  .clear
  = link_to "ver más", stream_path, :class=>"more button"


#news
  %h3 noticias
  %ul
    = render :partial => "news", :collection => @posts
  .clear
  = link_to "ver más", posts_path, :class=>"more button"


- content_for :sidebar do
  = render :partial => "home/sidebar"
  
  
  
- content_for :main_banner do
  #banner-cont
    .prev.arrow
    .next.arrow
    .banner
      %ul
        %li.html
          .facebook
            %h3 Expresate, crea tu avatar, y se un hincha más
            %h4 Participa con tus amigos, haz pronósticos y comparte opiniones sobre lo que te apasiona
            %p Acumula puntos, y gana increibles premios, junta a tus amigos y diviertete con Patatoon
            = link_to "Crea tu cuenta patatoon", new_registration_path("account"), {:id=>"register_new_user", :class=>"button"}
            = link_to "o entra con <span>Facebook</span>", fb_connect_path, {:id=>"register_facebook", :class=>"fb-btn button"}
        / %li.html
        /   .facebook
        /   
        /     %h3 ¡Viaja por el Perú y a la final de la copa Libertadores!
        /     %h4 Acierta en los pronósticos y gana puntos. Los que más tengan, participan en el concurso 
        /     %p ¿Qué esperas? Tenemos 4 pasajes esperando por ti. ¡Únete a Patatoon y viaja con todo pagado!
        /     = link_to "Lee las reglas", rules_path, {:id=>"reules", :class=>"button"}
        %li.img
          %a{:href =>rules_path}
            %img{:height => "271", :src => "/images/lanbanner.png", :width => "815"}/
        %li.img
          %a{:href =>rules_path}
            %img{:height => "271", :src => "/images/ganadorbanner.png", :width => "815"}/