- @title = "Patatoon ::  exprésate a tu manera"
- @body_class = "home"
= display_flashes


= render :partial => "next_games"

= render :partial => "most_predictions"


#last-predicted
  %h3 últimos pronósticos
  %ul
    = render :partial => "last_prediction", :collection=>@predictions

  .clear


#news
  %h3 noticias
  %ul
    = render :partial => "news", :collection => @posts
  .clear
  %a.more.button{:href => "#"} ver mas


- content_for :sidebar do
  #invite
    %h3
      invita a
      %br>/
      tus amigos
    %ul
      %li.facebook
        %a{:href => "#"}
      %li.twitter
        %a{:href => "#"}
      %li.email
        %a{:href => "#"}
  #chunteros
    %h3 los chunteros
    %ul.ranking
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4= ""
        %p 3 pronósticos
        %p 0 aciertos
        %p.title novato
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4= ""
        %p 2 pronósticos
        %p 0 aciertos
        %p.title novato
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4= ""
        %p 2 pronósticos
        %p 0 aciertos
        %p.title novato
  #punteros
    %h3 los punteros
    %ul.ranking
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4
        %p 3 puntos
        %p.title novato
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4 
        %p 2 puntos
        %p.title novato
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4
        %p 1 puntos
        %p.title novato
  #facebook_likebox
    %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?id=129238740437455&amp;width=292&amp;connections=10&amp;stream=false&amp;header=true", :style => "border:none; overflow:hidden; width:292; height:455"}
    %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?id=129238740437455&amp;width=292&amp;connections=10&amp;stream=false&amp;header=true", :style => "border:none; overflow:hidden; width:292; height:455"}

  
  
  
- content_for :main_banner do
  #welcome
    %h2 Bienvenidos a la nueva comunidad para los amantes del fútbol

    - if account_signed_in?
      = render "home/whats_new"
    - else
      = render "home/register"