- @title = "Patatoon ::  exprésate a tu manera"
- @body_class = "home"
= display_flashes


= render :partial => "next_games"

= render :partial => "most_predictions"


#last-predicted
  %h3 últimos pronósticos
  %ul
    = render :partial => "last_prediction", :collection=>@predictions

  .clear


#news
  %h3 noticias
  %ul
    = render :partial => "news", :collection => @posts
  .clear
  %a.more.button{:href => "#"} ver mas


- content_for :sidebar do
  #invite
    %h3
      invita a
      %br>/
      tus amigos
    %ul
      %li.facebook
        %a{:href => "#"}
      %li.twitter
        %a{:href => "#"}
      %li.email
        %a{:href => "#"}
  #chunteros
    %h3 los chunteros
    %ul.ranking
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4 alvaro pereyra
        %p 20 pronósticos
        %p 18 aciertos
        %p.title Lord del Futbol
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4 alvaro pereyra
        %p 20 pronósticos
        %p 18 aciertos
        %p.title lord del futbol
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4 alvaro pereyra
        %p 20 pronósticos
        %p 18 aciertos
        %p.title lord del futbol
  #punteros
    %h3 los punteros
    %ul.ranking
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4 alvaro pereyra
        %p 42 puntos
        %p.title Lord del Futbol
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4 alvaro pereyra
        %p 0 puntos
        %p.title Lord del Futbol
      %li
        %img.avatar{:alt => "", :height => "67", :src => "/images/avatar.jpg", :width => "67"}/
        %h4 alvaro pereyra
        %p 0 puntos
        %p.title Lord del Futbol
  #facebook-connect
  
  
  
- content_for :main_banner do
  #welcome
    %h2 Bienvenidos a la nueva comunidad para los amantes del fútbol

    - if account_signed_in?
      = render "home/whats_new"
    - else
      = render "home/register"