- @title = "FaniToons ::  tu pasión en la red"
- @body_class = "home"
= display_flashes


#nexts-games
  %h2 proximos partidos
  #counter-cont
    #vs
      .one.flag.medium.rsa rsa
      vs
      .two.flag.mex.medium mex
    .counter
      .day
        %span 6
        dias
      .hour
        %span 15
        horas
      .minute
        %span 14
        minutos
      .second
        %span 20
        segundos
  %ul
    %li
      %a{:href => "#"}
        .flag.ury.small uru
        .flag.arg.small usa
        %p 5 dias
    %li
      %a{:href => "#"}
        .flag.ury.small uru
        .flag.arg.small usa
        %p 5 dias
    %li.last
      %a{:href => "#"}
        .flag.ury.small uru
        .flag.arg.small usa
        %p 5 dias
    %li
      %a{:href => "#"}
        .flag.ury.small uru
        .flag.arg.small usa
        %p 5 dias
    %li
      %a{:href => "#"}
        .flag.ury.small uru
        .flag.arg.small usa
        %p 5 dias
    %li.last
      %a{:href => "#"}
        .flag.ury.small uru
        .flag.arg.small usa
        %p 5 dias
  .clear

#most-predicted
  %h3 los mas pronosticados
  .container
    %ul
      %li
        %a{:href => "#"}
          .flag.ury.small uru
          .flag.arg.small usa
          %p 20 pronostico
      %li
        %a{:href => "#"}
          .flag.ury.small uru
          .flag.arg.small usa
          %p 20 pronostico
      %li
        %a{:href => "#"}
          .flag.ury.small uru
          .flag.arg.small usa
          %p 20 pronostico
      %li.last
        %a{:href => "#"}
          .flag.ury.small uru
          .flag.arg.small usa
          %p 20 pronostico
    .clear
  .nav
    %a.prev.arrow{:href => "#"}
    %a.next.arrow{:href => "#"}
    %a.predict.button{:href => "#"} Deja tu pronostico
    .clear



#main_content
      
  #match.block
    %h2 Ultimos Partidos
    %ul#matches.content_box
      = render :partial=>"matches/home_match", :collection => @matches
      
  %div{:style=>"clear:both;overflow:auto;"}  

  #last_predictions.block
    %h2 Lo más pronosticado
    .content_box
      = render :partial=>"predictions/popular_prediction", :collection => @popular_predictions
  
  #predictions.block
    %h2 Últimos pronósticos
    .content_box
      = render :partial=>"predictions/home_prediction", :collection => @predictions
    
  #posts.block
    %h2 Noticias
    .content_box= render :partial=>'posts/post', :collection => @posts

- content_for :sidebar do
  = render "home/sidebar"

- content_for :main_banner do
  #welcome
    %h2 Bienvenidos a la nueva comunidad para los amantes del fútbol
  
    - if account_signed_in?
      = render "home/whats_new"
    - else
      = render "home/register"