- @title = "FaniToons ::  tu pasión en la red"

#banner 
= display_flashes

#main_content
      
  #match.block
    %h2 Ultimos Partidos
    %ul#matches.content_box
      = render :partial=>"matches/home_match", :collection => @matches
      
  %div{:style=>"clear:both;overflow:auto;"}  

  #last_predictions.block
    %h2 Lo más pronosticado
    .content_box
      = render :partial=>"predictions/popular_prediction", :collection => @popular_predictions
  
  #predictions.block
    %h2 Últimos pronósticos
    .content_box
      = render :partial=>"predictions/home_prediction", :collection => @predictions
    
  #posts.block
    %h2 Noticias
    .content_box= render :partial=>'posts/post', :collection => @posts

- content_for :sidebar do
  = render "home/sidebar"

- content_for :main_banner do
  #welcome
    %h2 Bienvenidos a la nueva comunidad para los amantes del fútbol
  
    - if account_signed_in?
      = render "home/whats_new"
    - else
      = render "home/register"