- semantic_form_for ["admin",@stadium] do |form|
  - form.inputs do
    = form.input :id
    = form.input :name
    = form.input :city
    = form.input :country
    = form.input :bio
    = form.input :country
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }