- @title = "Administración Estadios "

#admin.index
  %h1= "Administrando Estadios"

  #admin_menu
    = link_to "Nuevo estadio", new_admin_stadium_path

  %table{:id=>"stadia_table"}
    %thead
      %tr
        %td Id
        %td Nombre
        %td Ciudad
        %td Bio
        %td País
        %td
        %td
    %tbody
    - @stadia.each do |stadium|
      %tr{:class=>cycle('even','odd') }
        %td= stadium.id
        %td= stadium.name
        %td= stadium.city
        %td= summary stadium.bio
        %td= stadium.country.name
        %td= link_to 'Editar', edit_admin_stadium_path(stadium)
        %td= link_to 'Eliminar', ["admin",stadium], :confirm => '¿Estas seguro? Se borraran todos los datos relacionados', :method => :delete
      
  .pagination= will_paginate @stadia