- @title = "Viendo estadio"

#admin

  %h1 "Viendo estadio"

  - show_for @stadium do |a| 
    = a.attribute :name
    = a.attribute :city
    = a.attribute :country
    = a.attribute :bio
    = a.attribute :country
    

  .bottom_menu
    = link_to "Ver todos", admin_stadia_path
    = link_to "Editar estadio",  edit_admin_stadium_path(stadium)
    = link_to "Crear otro", new_admin_stadium_path
