- semantic_form_for ["admin",@post] do |form|
  - form.inputs do
    = form.input :id
    = form.input :title
    = form.input :content
    = form.input :account
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }