<h2><%= I18n.t('tog_social.gangs.site.create_gang') %></h2>
<br />

<% if @gang && !@gang.errors.empty? -%>
<div class="error">
  <%= error_messages_for :gang %>
</div>
<% end -%>

<% form_for(:gang, :url=>member_gangs_path, :html=>{:multipart=>true}) do |f| %>
  <fieldset>
    <legend><%= I18n.t('tog_social.gangs.site.details') %></legend>
    <div class="fields">
      <p>
        <label for="gang_name"><%= I18n.t('tog_social.gangs.model.name') %></label>
        <%= f.text_field  :name, :class => 'fieldbox wide', :size => 35 %>
      </p>
      <p>
        <label for="gang_description"><%= I18n.t('tog_social.gangs.model.description') %></label>
        <%= f.text_area  :description, :class => 'fieldbox wide', :size => '60x10' %></dd>
      </p>
      <p>
        <label for="gang_tag_list"><%= I18n.t('tog_social.tags.tags') %></label>
        <%= f.text_field  :tag_list, :class => 'fieldbox', :size => 35 %><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.tags.separated_by_comma') %></span>
      </p>
      <p>
        <label for="gang_image"><%= I18n.t('tog_social.gangs.model.image') %></label>
        <%= image_for_gang(@gang, 'medium') %><br/>
        <%= file_field "gang", "image" %><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.gangs.model.image_help') %></span>
      </p>
      <p>
        <label for="gang_private" class="nolabel"><%= f.check_box :private %> <%= I18n.t('tog_social.gangs.model.private') %></label><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.gangs.model.private_help') %></span>
      </p>
      <p>
        <label for="gang_moderated" class="nolabel"><%= f.check_box :moderated %> <%= I18n.t('tog_social.gangs.model.moderated') %></label><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.gangs.model.moderated_help') %></span>
      </p>
    </div>
    <div class="actions">
      <%= submit_tag I18n.t('tog_social.gangs.site.create'), :class => "button mainaction" %>
    </div>
  </fieldset>
<% end %>
