- @body_class = "register home"
- @title = "Patatoon :: Partidos en Patatoon"

%h2 
  %span Viendo 
  encuentros deportivo

%h3= "Mundial Sud치frica 2010"


#groups_match

  - unless account_signed_in?
    = link_to "inicia sesi칩n para dejar tu pron칩stico",new_account_session_path, {:id=>"new_session"}    

  #last-predicted
    - @groups.each do |group|
      %h2= group.name
      %ul
        %li{:class=>(cycle("odd","even"))}
          - group.matches.each do |match|
            %table{:cellpadding => "0", :cellspacing => "0"}
              %tbody
                %tr.header
                  %td.first Partido
                  %td
                    %a{:href=>match_path(match)}
                      .flag.small{:class=>match.local.flag_name}= match.local.short_name
                  %td
                    %a{:href=>match_path(match)}
                      .flag.small{:class=>match.visitor.flag_name}= match.visitor.short_name
                %tr
                  %td.first goles
                  %td{:class=>("win" if match.local_winner?)}= (match.first_team_goals || "--")
                  %td{:class=>("win" if match.visitor_winner?)}= (match.second_team_goals || "--")
                - if account_signed_in?
                  %tr{:colspan => 3}
                    %td{:colspan => 3}
                      = link_to "deja tu pron칩stico", match_prediction_path(match), :class=>"predict button iframe"
            
                  
- content_for :sidebar do
  = render :partial => "home/sidebar"