%h1 Mundial 2010

- @groups.each do |group|
  %h2= group.name

  .block
    .content
      %table.table.matches
        %thead
          %tr
            %th.first Partido 
            %th Fecha
            %th Equipo
            %th Equipo
            %th.last="&nbsp;"
        %tbody
          - group.matches.each do |match|
            %tr{:class=>cycle("even","odd")}
              %td=match.number
              %td=l(match.played_at, :format=>:short)
              %td= "#{match.local.name} - #{match.first_team_goals || '--'}" if match.local
              %td= "#{match.visitor.name} - #{match.second_team_goals || '--'}" if match.visitor
            
- content_for :sidebar do

  #ranking.block
    %h2 Los que siempre aciertan

    %h2 Los más rankeados

  #featured_posts.block
    %h2 Destacadas
    .content_box Destacada