- @body_class = "register home"

%h2 
  %span Viendo 
  encuentro deportivo

%h3= "Del #{l(@match.played_at, :format=>:short)}"

%div{:style=>"margin-top:10;margin-bottom:20px"}
#nexts-games
  #counter-cont
    #vs
      %a{:href=>"#"}
        .one.flag.medium{:title=>@match.local.name, :class=>@match.local.flag_name}= @match.try(:local).try(:short_name)
        vs
        .two.flag.medium{:title=>@match.visitor.name, :class=>@match.visitor.flag_name}= @match.try(:visitor).try(:short_name)
    .counter
      .day
        %span= @match.first_team_goals
        goles
      .hour
        %span= @match.second_team_goals
        goles
  
  %div{:style=>"clear:both;overflow:auto;"}
  #most-predicted
    .nav
      - if account_signed_in?
        = link_to "deja tu pron贸stico", match_prediction_path(@match), :class=>"predict button iframe"
      - else
        = link_to "inicia sesi贸n para dejar tu pron贸stico",new_account_session_path, {:id=>"new_session"}

%div{:style=>"clear:both;overflow:auto;"}

#last-predicted
  %h3{:style=>"font-size:2em;"}= "#{@match.predictions.size} pron贸sticos"

  %ul
    - @match.predictions.each do |prediction|
      %li{:class=>(cycle("odd","even"))}
        .meta
          %img.avatar{:alt => "", :height => "51", :src => "/images/missing.png", :width => "51"}/
          %p= prediction.account.name
          %p.title= prediction.account.title
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr.header
              %td.first Partido
              %td
                .flag.small{:class=>prediction.match.local.flag_name}= prediction.match.local.short_name
              %td
                .flag.small{:class=>prediction.match.visitor.flag_name}= prediction.match.visitor.short_name
            %tr
              %td.first goles
              %td{:class=>("win" if prediction.local_winner?)}= prediction.first_team_result
              %td{:class=>("win" if prediction.visitor_winner?)}= prediction.second_team_result

.clear            

= render :partial => "comments/comments_list", :locals => {:commentable => @match }
  
- content_for :sidebar do
  = render :partial => "home/sidebar"
