- @body_class = "register home"
- @title = "Patatoon :: Partido #{@match.name}"
- content_for :meta_fb do
  %meta{:content => "Partido: #{@match.title}", :property => "og:site_name"}/


%h2 
  %span Viendo 
  encuentro deportivo

%h3= "Del #{l(@match.played_at, :format=>:short)}"

%div{:style=>"margin-top:10;margin-bottom:20px"}
#nexts-games
  #counter-cont
    #vs
      %a{:href=>"#"}
        .one
          = flag_image @match.local.name, "medium", "48x48"
          = @match.try(:local).try(:short_name)
        %span vs
        .two
          = flag_image @match.visitor.name, "medium", "48x48"
          = @match.try(:visitor).try(:short_name)
    .counter
      .day
        %span= @match.first_team_goals
        goles
      .hour
        %span= @match.second_team_goals
        goles
  
  %div{:style=>"clear:both;overflow:auto;"}
  #most-predicted
    .nav
      - if account_signed_in?
        = link_to "deja tu pron贸stico", match_prediction_path(@match), :class=>"predict button iframe"
      - else
        = link_to "inicia sesi贸n para dejar tu pron贸stico",new_account_session_path, {:id=>"new_session"}

%div{:style=>"clear:both;overflow:auto;"}

#last-predicted
  %h3{:style=>"font-size:2em;"}= "#{@match.predictions.size} pron贸sticos"

  %ul
    - @match.predictions.each do |prediction|
      %li{:class=>(cycle("odd","even"))}
        .meta
          %a{:href=>profile_path(prediction.account.profile.id)}
            - if prediction.account.picture_file_name
              = image_tag prediction.account.thumbnail(:thumb),:size=>"51x51", :class => "avatar"
            - else
              %img.avatar{:alt => "", :height => "51", :src => "/images/avatar.jpg", :width => "51"}/
          %p= prediction.account.name
          %p.title= prediction.account.title
        %table{:cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr.header
              %td.first Partido
              %td.flag
                = flag_image prediction.match.local.flag_name, "small", "32x32"
                = prediction.match.local.short_name
              %td.flag
                = flag_image prediction.match.visitor.flag_name, "small", "32x32"
                = prediction.match.visitor.short_name
            %tr
              %td.first goles
              %td{:class=>("win" if prediction.local_winner?)}= prediction.first_team_result
              %td{:class=>("win" if prediction.visitor_winner?)}= prediction.second_team_result

.clear            

%ul.extra_links
  %li
    %a.addthis_button{"addthis:description" => @match.title, "addthis:title" => @match.name, :href => "http://www.addthis.com/bookmark.php"}
      %img{:alt => "Compartir", :border => "0", :height => "16", :src => "http://s7.addthis.com/static/btn/v2/sm-share-es.gif", :width => "83"}/
  %li.last
    %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?href=#{match_url(@match)}&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35", :style => "border:none; overflow:hidden; width:450px; height:35px;"}


= render :partial => "comments/comments_list", :locals => {:commentable => @match }
  
- content_for :sidebar do
  = render :partial => "home/sidebar"
