%h2 Viendo encuentro deportivo
%h3= "Del #{l(@match.played_at, :format=>:short)}"

%div{:class =>"match block" }
  .date= time_ago_in_words(@match.played_at)
  .match_players
    .local
      %strong= @match.local.name
      %br
      = image_tag(random_flag)
    %strong.versus vs
    .visitor
      %strong= @match.visitor.name  
      %br
      = image_tag(random_flag)
  
  %div{:style=>"clear:both;overflow:auto;"}
  = link_to "ver pron칩sticos", "#"
  - if account_signed_in?
    = link_to "deja tu pron칩stico", match_prediction_path(@match), :class=>"small iframe"

%div{:style=>"clear:both;overflow:auto;"}

%h3{:style=>"font-size:2em;"}= "#{@match.predictions.size} pron칩sticos"

.block
  .content
    %table.table.matches
      %thead
        %tr
          %th.first Ganador
          %th= "Goles de #{@match.local.name}"
          %th= "Goles de #{@match.visitor.name}"
      %tbody
        -@match.predictions.each do |prediction|
          %tr{:class=>cycle("even","odd")}
            %td= prediction.winner.name
            %td= prediction.first_team_result 
            %td.last= prediction.second_team_result 
            
- content_for :sidebar do

  #ranking.block
    %h2 Los que siempre aciertan

    %h2 Los m치s rankeados

  #featured_posts.block
    %h2 Destacadas
    .content_box Destacada