- @body_class = "register home"
- @title = @post.title

%h2 
  %span= @post.title 
%h3
  - if @post.published_at
    = l(@post.published_at, :format=>:short)
  - else
    = l(@post.created_at, :format=>:short)

= image_tag (@post.picture.url(:post)) if @post.picture_file_name

#show{:style=>"margin-top:30px"}
  #posts.block
    .content_box
      .post
        .body= simple_format(@post.content)
    
%p=# link_to 'Ver todas las entradas', posts_path


.clear            

= render :partial => "comments/comments_list", :locals => {:commentable => @post }
  
- content_for :sidebar do
  = render :partial => "home/sidebar"