- @title = "Viendo grupo"

#admin

  %h1 "Viendo grupo"

  - show_for @group do |a| 
    = a.attribute :id
    = a.attribute :name
    

  .bottom_menu
    = link_to "Ver todos", admin_groups_path
    = link_to "Editar grupo",  edit_admin_group_path(group)
    = link_to "Crear otro", new_admin_group_path
