- semantic_form_for ["admin",@avatar] do |form|
  - form.inputs do
    = form.input :id
    = form.input :account
    = form.input :shirt
    = form.input :short
    = form.input :snicker
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }