- @title = "Administración Avatares "

#admin
  %h1= "Administrando Avatares"

  #admin_menu
    = link_to "Nuevo avatar", new_admin_avatar_path

  %table{:id=>"avatars_table"}
    %thead
      %tr  
        %td Id
        %td Usuario
        %td Camiseta
        %td Short
        %td Zapatilla
        %td
        %td
    %tbody
    - @avatars.each do |avatar|
      %tr{:class=>cycle('even','odd') }
        %td= avatar.id
        %td= avatar.account
        %td= image avatar.shirt_id
        %td= image avatar.short_id
        %td= image avatar.snicker_id
        %td= link_to 'Editar', edit_admin_avatar_path(avatar)
        %td= link_to 'Eliminar', ["admin",avatar], :confirm => '¿Estas seguro? Se borraran todos los datos relacionados', :method => :delete
      
  .pagination= will_paginate @avatars