- semantic_form_for ["admin",@team] do |form|
  - form.inputs do
    = form.input :id
    = form.input :name
    = form.input :country, :as => :select
    = form.input :bio, :input_html => {:class => "tinymce"}
    = form.input :country
    
  - form.buttons do
    = form.commit_button 'Grabar',:button_html => { :class => "submit" }