- @title = "Administración Predictions "

#admin
  %h1= "Administrando Predictions"

  #admin_menu
    = link_to "Nuevo prediction", new_admin_prediction_path

  %table{:id=>"predictions_table"}
    %thead
      %tr  
        %td Id
        %td User
        %td Predicted_at
        %td Match
        %td Winner
        %td First_team_result
        %td Second_team_result
        %td Scoring_player
        %td Created_at
        %td Updated_at
        %td
        %td
    %tbody
    - @predictions.each do |prediction|
      %tr{:class=>cycle('even','odd') }
        %td= prediction.id
        %td= prediction.account
        %td= prediction.predicted_at
        %td= prediction.match.title
        %td= prediction.winner.name if prediction.winner
        %td= prediction.first_team_result
        %td= prediction.second_team_result
        %td= prediction.scoring_player.name if prediction.scoring_player
        %td= prediction.created_at
        %td= prediction.updated_at
        %td= link_to 'Editar', edit_admin_prediction_path(prediction)
        %td= link_to 'Eliminar', ["admin",prediction], :confirm => '¿Estas seguro? Se borraran todos los datos relacionados', :method => :delete
      
  .pagination= will_paginate @predictions