<div class="portlet portletH" id="portlet_gangs">
    <h2><span><%= "Manchas de Patatoon" %></span></h2>

    <%= display_flashes  %>
    
    <div class="description">
      <p>Las manchas de Patatoon permite unirte a tus amigos en común. En el futuro, nos permitirá compartir
      elementos, historias, momentos, fotos y todo lo que deseen. </p>
    </div>

    <p><%= link_to "Crear mancha", new_member_gang_path, :class => 'button add' %></p>
    

    <div class="portlet_content">
        <ul>
          <% @gangs.each do |gang|%>
          <li class="clearfix">
              <div class="image">
                <%= link_to image(gang.image, :medium), gang_path(gang) %>
              </div>
              <div class="title"><%= link_to gang.name, gang_path(gang) %></div>
              <div class="text">
                 <%= summary gang.description%>
              </div>
              <div class="members"><strong>
              <%= "#{gang.members.size} miembros" %></strong></div>
          </li>          
          <%end%>          
        </ul>
    </div>    
</div>


<%= will_paginate @gangs %>

<% content_for :sidebar do %>

  <% 'render :partial => "search_box" ' %>

  <%= render :partial => "last_gangs" %>

<% end %>
