<div class="portlet portletH" id="portlet_groups">
    <h2><span><%= "Grupos de Patatoon" %></span></h2>
    <p><%= link_to "Crear grupo", new_member_gang_path, :class => 'button add' %></p>
    <div class="portlet_content">
        <ul>
          <% @gangs.each do |group|%>
          <li class="clearfix">
              <div class="title"><%= link_to group.name, gang_path(group) %></div>
              <div class="text">
                 <%=group.description%>
              </div>
              <div class="members"><strong>
              <%= "#{group.members.size} miembros" %></strong></div>
          </li>          
          <%end%>          
        </ul>
    </div>    
</div>


<%= will_paginate @gangs %>

<% content_for :sidebar do %>

  <% 'render :partial => "search_box" ' %>

  <%= render :partial => "last_groups" %>

<% end %>
