<div class="portlet portletH" id="portlet_gangs">
    <h2><span><%= I18n.t('tog_social.gangs.site.gang_tagged', :tag => @tag) %></span></h2>
    <p><%= link_to "Crear mancha", new_member_gang_path, :class => 'button add' %></p>
    <div class="portlet_content">
        <ul>
          <% @gangs.each do |gang|%>
          <li class="clearfix">
              <div class="title"><%= link_to gang.name, gang_path(gang) %></div>
              <div class="text">
                 <%=gang.description%>
              </div>
              <div class="members"><strong>
              <%= I18n.t('tog_social.gangs.model.members', :count => gang.members.size) %></strong></div>
          </li>          
          <%end%>          
        </ul>
    </div>    
</div>

<% content_for :sidebar do %>

  <% 'render :partial => "search_box" ' %>

  <%= render :partial => "last_gangs" %>

<% end %>
