!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= [@title, "Patatoon"].compact.join(" | ")
    = stylesheet_link_tag 'reset','../javascripts/fancybox/jquery.fancybox-1.3.1','layout','sidebar','flags','formtastic','formtastic_changes','banner', :cache => "styles"
    /[if IE] 
      = stylesheet_link_tag "ie"
    = yield :include 
    = yield :head
    :erb
      <script type="text/javascript">
          var addthis_config = {
                    username: 'patatoon',
                    ui_language: "es"
                    
              }
      </script>
    
    %meta{:content => "Patatoon", :property => "og:title"}/
    = yield :meta_fb
    
    %body{:class=>"#{controller.controller_name} #{@body_class}"}
      /[if IE]
        :erb
          <div class="ie">
      /[if IE 6] 
        :erb
          <div id="ie6">
      /[if IE 7] 
        :erb
          <div id="ie7">
      /[if gte IE 8] 
        :erb
          <div id="ie8">
      #clouds
      #header
        .wrapper
          %h1= link_to content_tag(:span,"patatoon"), root_path
          %ul#nav
            %li.selected.first= link_to "inicio", root_path
            - if account_signed_in?
              %li= link_to "crea tu avatar", avatar_path
            - else
              %li= link_to "registrarse", new_registration_path("account")
            %li= link_to "campeonatos", matches_path
            %li= link_to "pronósticos", predictions_path
            %li.last= link_to "actividad", stream_path
            / %li.last
            /   - if account_signed_in?
            /     = link_to "mi perfil", profile_path(current_account.profile.id)
            /   - else
            /     = link_to "entrar", new_account_registration_path
                
          #login
            - if account_signed_in?
              #top_profile
                = link_to current_account.email, profile_path(current_account.profile.id)
                = link_to "mensajes", member_messages_path
                = link_to "salir", destroy_account_session_path              
            - else
              = link_to "iniciar sesión", new_account_session_path, {:id=>"new_session", :class=>"button log-in"}
              = link_to "registrarse", new_registration_path("account"), {:id=>"register_new_user", :class=>"button register"}
      /[if IE]
        :erb
          <div id="the-banner">

      = yield :main_banner

      /[if IE] 
        :erb
          </div>
      
      #container
        #city
        .wrapper	
          #content
            = yield
      
          #sidebar
            = yield :sidebar
          .clear
          #footer
            %h2.creer Creer para Crear
            %p Patatoon es el ganador del 5to concurso Creer para Crear
            %h2.probide Probide
            .clear
      .bg-footer
      /[if IE] 
        :erb
          </div>
      /[if IE 6] 
        :erb
          </div><script src="/javascripts/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script><script src="javascripts/pngfix.js" type="text/javascript"></script>
      /[if IE 7]
        :erb
          </div>
      /[if gte IE 8]
        :erb
          </div>
      = javascript_include_tag 'jquery', 'jrails','fancybox/jquery.fancybox-1.3.1.pack','fancybox/jquery.easing-1.3.pack','fancybox/jquery.mousewheel-3.0.2.pack','jcarousellite_1.0.1.min', 'countdown/jquery.countdown.min','date','jquery.countdown-es', :cache => "utils"
      = javascript_include_tag 'application', :cache => "app"
      = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js"
      :erb
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-16950676-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>